@import '../variables', '../config', '../imports/mixin.scss';

.Validation {
	border-radius: 4px;
	border: 1px solid transparent;
	margin-bottom: 20px;
	padding: 15px;
	text-align: center;

	&.has-success {
		background: var(--success);
		color: darken($success, 55%);
	}

	&.has-warning {
		background: var(--warning);
		color: darken($warning, 55%);
	}

	&.has-error {
		background: var(--error);
		color: darken($error, 55%);
	}
}

.has-error , .has-error  + label {  
	color: darken($error, 35%);
}

.has-error {
	&.c-FormElement {
		color: darken($error, 35%);
	}  
}

.has-warning, .has-warning + label {  
	color: darken($warning, 40%); 
}

.has-warning {
	&.c-FormElement {
		color: darken($warning, 40%); 
	}  
}

.has-success, .has-success + label{
	color: darken($success, 35%); 
}

.has-success {
	&.c-FormElement {
		color: darken($success, 35%); 
	}  
}